{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}

<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
</br>
</br>
</br>


<div class="text-center">

<h5><strong>{% trans 'Forgotten your password? Enter your email address below, and we’ll email you instructions for setting a new one.' %}</strong></h5>
</br>
<form method="post">{% csrf_token %}

    
        {{ form.email.errors }}
        
        {{ form }}
    
    <input type="submit" style="background-color:#eb4d63;"class="btn " value="{% trans 'Reset my password' %}">

</form>
</div>
</br>
</br>
</br>
</br>
</br>

</br>
</br>
</br>
</br>

</br>
{% endblock %}
