{% extends 'index.html' %}

{% load crispy_forms_tags %}
{% block content %}
</br>
<div class="text-center">
  {% if validlink %}
    <h3>Change password?</h3>
    
     
    <form class="col-lg-6 offset-lg-4" method="post">
      {% csrf_token %}
      <div class="row">
      <div class="text-center">
      
      {{ form | crispy }}
      
      
      </br>
      
      <button type="submit" class="btn btn-common log-bt">Change password</button>
      </div>
      </div>
    </form>
    
    </div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </br></br></br></br>
  </div>
{% endblock %}
