{% extends template_extends %}

{% load i18n %}

{% block title %}Subscribe{% endblock %}

{% block content %}
<style>
</style>
  <main class="subscribe-container">
    <h1>Subscribe</h1>
    <span class="subtitle">{{ plan.plan_name }}</span>

    <form class="subscribe-form" action="{% url 'dfs_subscribe_add' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="action" value="confirm">
      <input type="hidden" name="plan_id" value="{{ plan.id }}">
      
      <h2>Subscription Details</h2>
    <p> <span> $ {{plan.cost}}</span> for {{plan.post_count}} Ads and validity upto {{plan.days_count}} days</p>
      {% include 'subscriptions/snippets/payment_details.html' with form=payment_form %}

      <button type="submit" class="button-positive">Confirm order</button>
    </form>
  </main>
{% endblock %}
