{% load static %}
<style>
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: bold;
    font-size: 15px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    color: #484848;
    font: bold;
}
.btn {
    font-size: 20px;
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}

</style>
<div class="box-shadow">
<nav class="navbar navbar-expand-lg bg-white scrolling-navbar">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                    aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="lni-menu"></span>
                <span class="lni-menu"></span>
                <span class="lni-menu"></span>
            </button>
            <a href="{% url 'core:home' %}" class="navbar-brand" style=color:#e91e63; >
               <img src="/media/logos/logo-01.svg" alt="Tires on Rent">
        
            </a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 sticky-top justify-content-center">
                <li class="nav-item acive">
                    <a class="nav-link" href="{% url 'core:home' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:about' %}">
                        About Us
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Welcome, {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'users:dashboard' %}">Dashboard</a>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'accounts:login' %}" class="nav-link"> Log In</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:register' %}" class="nav-link">Register</a>
                    </li>
                    
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
            <div class="post-btn">
                <a class="btn btn-common" href="{% url 'ads:crate.ad' %}">
                    <i class="lni-pencil-alt"></i> Post Ad
                </a>
            </div>
             {% else %}
             <div class="post-btn">
                <a class="btn btn-common" href="{% url 'accounts:login' %}">
                    <i class="lni-pencil-alt"></i> Post Ad
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    <ul class="mobile-menu">
        <li>
            <a href="{% url 'core:home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'core:about' %}">About Us</a>
        </li>
        {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'users:dashboard' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'accounts:logout' %}">Logout</a>
            </li>
            <li>
            <a class="btn btn-common " href="{% url 'ads:crate.ad' %}">
                <i class="lni-pencil-alt"></i> Post Ad
            </a>
        </li>
        {% else %}
            <li>
                <a href="{% url 'accounts:login' %}"><i class="lni-lock"></i> Log In</a>
            </li>
            <li>
                <a href="{% url 'accounts:register' %}" ><i class="lni-pencil"></i>Register</a>
            </li>
            <li>
            <a class="btn btn-common " href="{% url 'accounts:login' %}">
                <i class="lni-pencil-alt"></i> Post Ad
            </a>
        </li>
        {% endif %}
        
    </ul>

</nav>
<div>
