

{% block content %}
<form action="{% url 'ads:delete.ad' ad.id %}" method="post">
    {% csrf_token %}
    The following objects as well as their related objects will be deleted. Are you sure?
    <ul>
        {% for ad in ads %}
            <input type="hidden" value="{{ item.id }}" name="itemsToDelete" />
            <li><a href="{{ item.get_absolute_url }}">{{ ad }}</a></li>
        {% endfor %}
    </ul>
    <input type="submit" class="btn btn-primary" value=" Confirm deletion" name="confirm_delete" />
    <input type="submit" class="btn btn-primary" value="Cancel" name="cancel"/>
</form>
{% endblock %}
