{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="page-header" style="background: url('{% static 'assets/img/banner1.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Details</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section-padding">
        <div class="container">

            <div class="product-info row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    {% if ad.ad_images.count > 0 %}
                        <div class="ads-details-wrapper">
                            <div id="owl-demo" class="owl-carousel owl-theme">
                                {% for ad_image in ad.ad_images.all %}
                                    <div class="item">
                                        <div class="product-img">
                                            <img class="img-fluid" style="width: 100%" src="{{ ad_image.image.url }}" alt="">
                                        </div>
                                        <span class="price">${{ ad.offer_price }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="details-box">
                        <div class="ads-details-info">
                            <h2>{{ ad.title }}</h2>
                            <div class="details-meta">
                                <span><a href="#"><i class="lni-alarm-clock"></i> {{ ad.created_at }}</a></span>
                                <span><a href="#"><i class="lni-map-marker"></i> {{ ad.location }}</a></span>
                               
                            </div>
                            <p class="mb-4">{{ ad.description|safe }}</p>
                        </div>
                        <div class="tag-bottom">
                            <div class="float-left">
                                <ul class="advertisement">
                                    <li>
                                        <p>
                                            <strong><i class="lni-archive"></i> Year:</strong>{{ ad.Year }}
                                        </p>
                                    </li>
                                    <li>
                                        <p><strong><i class="lni-archive"></i> Make:</strong> {{ad.Make}}</p>
                                    </li>
                                    <li>
                                        <p><strong><i class="lni-archive"></i> Model:</strong> {{ad.Model}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="float-left">
                                <ul class="advertisement">
                                    <li>
                                        <p>
                                            <strong><i class="lni-archive"></i> Categories:</strong> {{ ad.category.title }}
                                        </p>
                                    </li>
                                    <li>
                                        <p><strong><i class="lni-archive"></i> Tire Condition:</strong> {{ad.Tire_Condition}}</p>
                                    </li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">

                    <aside class="details-sidebar">
                        <div class="widget">
                            <h4 class="widget-title">Ad Posted By</h4>
                            <div class="agent-inner">
                                <div class="agent-title">
                                    <div class="agent-photo">
                                        <a href="#"><img src="{% static 'assets/img/avatar.png' %}" alt=""></a>
                                    </div>
                                    <div class="agent-details">
                                        <h3><a href="#">{{ ad.user.username }}</a></h3>
                                        <span><i class="lni-phone-handset"></i>(123) 123-456</span>
                                    </div>
                                </div>
                                
                                
                               <p>I'm interested in this property [ID 123456] and I'd like to know more details.</p>
                                
                                <a href="/dialogs/{{ad.user.username}}"> 
                  
                   <button class="btn btn-common fullwidth mt-4" style = "text-transform:capitalize;">Chat With <strong>{{ad.user.username}}</strong></button></a>
                    
                            </div>
                            </div>
                           <div class="widget">
         <h4 class="widget-title"></h4>
                  <div class="add-box">
                     <img class="img-fluid" src="/media/adbanner3.gif" alt="">
                  </div>
               </div>  
                        </div>
                       

                        
                    </aside>
                    

                </div>
            </div>

        </div>
    </div>

{% endblock %}
