{% extends 'base.html' %}

{% load static %}
<style>


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
</style>
{% block content %}
</br>
    <div class="page-header" style="background: url('{% static 'assets/img/banner1.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Details</h2>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'core:home' %}">Home /</a></li>
                            <li class="current">Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section-padding">
        <div class="container">

            <div class="product-info row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    {% if ad.ad_images.count > 0 %}
                        <div class="ads-details-wrapper">
                            <div id="owl-demo" class="owl-carousel owl-theme">
                                {% for ad_image in ad.ad_images.all %}
                                    <div class="item">
                                        <div class="product-img">
                                            <img class="img-fluid" style="width: 100%" src="{{ ad_image.image.url }}" alt="">
                                        </div>
                                        <span class="price">${{ ad.offer_price }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="details-box">
                        <div class="ads-details-info">
                            <h2>{{ ad.title }}</h2>
                            <div class="details-meta">
                                <span><a href="#"><i class="lni-alarm-clock"></i> {{ ad.created_at }}</a></span>
                                <span><a href="#"><i class="lni-map-marker"></i> {{ ad.location }}</a></span>
                               
                            </div>
                            <p class="mb-4">{{ ad.description|safe }}</p>
                        </div>
                        <div class="tag-bottom">
                            <div class="float-left">
                                <ul class="advertisement">
                                    <li>
                                        <p>
                                            <strong><i class="lni-archive"></i> Year:</strong>{{ ad.Year }}
                                        </p>
                                    </li>
                                    <li>
                                        <p><strong><i class="lni-archive"></i> Make:</strong> {{ad.Make}}</p>
                                    </li>
                                    <li>
                                        <p><strong><i class="lni-archive"></i> Model:</strong> {{ad.Model}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="float-left">
                                <ul class="advertisement">
                                    <li>
                                        <p>
                                            <strong><i class="lni-archive"></i> Categories:</strong> {{ ad.category.title }}
                                        </p>
                                    </li>
                                    <li>
                                        <p><strong><i class="lni-archive"></i> Tire Condition:</strong> {{ad.Tire_Condition}}</p>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="float-left">
                                <ul class="advertisement">
                                    <li>
                                        <p>
                                            <strong><i class="lni-archive"></i> Seasonality:</strong>{{ ad.Seasonality }}
                                        </p>
                                    </li>
                                    <li>
                                        <p><strong><i class="lni-archive"></i> Ad Type:</strong> {{ad.Ad_Type}}</p>
                                    </li>
                                    <li>
                                        <p><strong><i class="lni-archive"></i> Number of Tires:</strong> {{ad.tires_available}}</p>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">

                    <aside class="details-sidebar">
                        <div class="widget">
                            <h4 class="widget-title">Ad Posted By</h4>
                            <div class="agent-inner">
                                <div class="agent-title">
                                    <div class="agent-photo">
                                        <a href="#"><img src="{% static 'assets/img/avatar.png' %}" alt=""></a>
                                    </div>
                                    <div class="agent-details">
                                        <h3><a href="#">{{ ad.user.username }}</a></h3>
                                        <span><i class="lni-phone-handset"></i>(123) 123-456</span>
                                    </div>
                                </div>
                                
                                
                               <p>I'm interested in this property [ID 123456] and I'd like to know more details.</p>
                                
                                <a href="/dialogs/{{ad.user.username}}"> 
								  {% if request.user.is_is_authenticated %}
								   <button class="btn btn-common fullwidth mt-4" style = "text-transform:capitalize;">Chat With <strong>{{ad.user.username}}</strong></button>
									</a>
									{% else %}
									
									<li>
										<a href="{% url 'accounts:login' %}">
											<button class="btn btn-common fullwidth mt-4" style = "text-transform:capitalize;">Chat With <strong>{{ad.user.username}}</strong>
											</button>
									
										</a>
									</li>
										
									{% endif %}
								
							</div>
                        </div>
                           
                     <img class="img-fluid" src="/media/adbanner3.gif" alt="">
                  
                        </div>
                       

                        
                    </aside>
                    

                </div>
            </div>

        </div>
    </div>

{% endblock %}
