{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/tagsinput.css' %}">
{% endblock %}
{% block content %}
<style>
body {
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: open sans, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #000;
    font-weight: bold;
    line-height: 28px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
}
</style>
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAfZpmVI9Nzza6yJsIylbbqB9d7QPz-v8U"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.0.0.min.js" type="text/javascript"></script>
<!-- Google Maps JavaScript library -->
  

<script type="text/javascript">
   $(document).ready(function(){
   $('#purpose').on('change', function() {
     if ( this.value == 'Rent')
     {
       $("#business").show();
     }
     else if ( this.value == 'Rent to Sell')
     {
       $("#business").show();
       
     }
     else if ( this.value == 'Sell')
     {
        $("#business").hide();
       $("#business3").show();
     }
   });
   });
</script>
<script type="text/javascript">
   $(document).ready(function(){
   $('#category').on('change', function() {
     if ( this.value == '1')
     {
       $("#business2").show();
        $("#business4").show();
       $("#business3").hide();
     }
     else if ( this.value == '2')
     {
       $("#business2").hide();
       $("#business3").show();
        $("#business4").show();
     }
     else if ( this.value == '3')
     {
       $("#business2").hide();
       $("#business3").hide();
       $("#business4").show();
     }
   });
   });
</script>
<script type="text/javascript">
        $(document).ready(function(){

            $("#sel_make").change(function(){
                var year = $("#sel_year option:selected").text();
                var makeid = $(this).val();
                //var makeid = $("#sel_make option:selected").val();
                var api = '4a7488fedfd6685e3ba26c495bf569c9'

                $("#msg").css("display", "none");
                //https://api.wheel-size.com/v1/years/?make=mitsubishi&user_key=4a7488fedfd6685e3ba26c495bf569c9
                // working for makes
                //https://api.wheel-size.com/v1/makes/?user_key=4a7488fedfd6685e3ba26c495bf569c9

                $.ajax({
                    url: 'https://api.wheel-size.com/v1/models/?',
                    type: 'get',
                    data: {make:makeid, year:year, user_key:api},
                    dataType: 'json',
                    success:function(response){

                        var len = response.length;
                        if(len == 0){
                            $("#msg").css("display", "block");
                            $("#sel_model").css("display", "none");
                        }else{
                        $("#sel_model").css("display", "block");
                        }

                        $("#sel_model").empty();
                        for( var i = 0; i<len; i++){
                            //var id = response[i]['id'];
                            var name = response[i]['name'];

                            $("#sel_model").append("<option value='"+name+"'>"+name+"</option>");

                        }
                    }
                });
            });

        });
        $(document).ready(function(){

            $("#sel_year").change(function(){
                //var year = $("#sel_year option:selected").text();
                var year = $(this).val();
                var makeid = $("#sel_make option:selected").val();
                //console.log(makeid)
                if(makeid == "---Select Make---")
                {
                	makeid = 'Acura'
                }
                var api = '4a7488fedfd6685e3ba26c495bf569c9'

                $("#msg").css("display", "none");
                //https://api.wheel-size.com/v1/years/?make=mitsubishi&user_key=4a7488fedfd6685e3ba26c495bf569c9
                // working for makes
                //https://api.wheel-size.com/v1/makes/?user_key=4a7488fedfd6685e3ba26c495bf569c9

                $.ajax({
                    url: 'https://api.wheel-size.com/v1/models/?',
                    type: 'get',
                    data: {make:makeid, year:year, user_key:api},
                    dataType: 'json',
                    success:function(response){

                        var len = response.length;
                        if(len == 0){
                            $("#msg").css("display", "block");
                            $("#sel_model").css("display", "none");
                        }else{
                        $("#sel_model").css("display", "block");
                        }

                        $("#sel_model").empty();
                        for( var i = 0; i<len; i++){
                            //var id = response[i]['id'];
                            var name = response[i]['name'];

                            $("#sel_model").append("<option value='"+name+"'>"+name+"</option>");

                        }
                    }
                });
            });

        });
      </script>
  

<div class="page-header" style="background: url('{% static 'assets/img/banner1.jpg' %}');">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumb-wrapper">
               
               <ol class="breadcrumb">
                  <li><a href="#">Home /</a></li>
                  <li class="current">Post your Ad</li>
               </ol>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="content" class="section-padding">
   <div class="container">
      <div class="row">
         {% include 'includes/sidebar.html' %}
         <div class="col-sm-12 col-md-8 col-lg-9">
            <div class="row page-content">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  {% if form.errors %}
                  {% for error in form.non_field_errors %}
                  <div class="alert alert-danger alert-dismissable">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <strong>{{ error|escape }}</strong>
                  </div>
                  {% endfor %}
                  {% endif %}
                  <form action="create" method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="inner-box">
                        <div class="dashboard-box">
                           <h2 class="dashbord-title">Post Your AD</h2>
                        </div>
                        <div class="dashboard-wrapper">
                           <div class="form-group mb-3 tg-inputwithicon">
                           <div class="form-group">
                              <div class="input-icon">
                                 
                                 <label  for="{{ form.Ad_title.id_for_Ad_title }}">Ad Title</label>
                                 <input type="text"  class="form-control" name="Ad_title"
                                    placeholder="Ad Title" value="{{ form.Ad_title.value|default:'' }}">
                                 {% if 'Ad_title' in form.errors %}
                                 {% for error in form.Ad_title.errors %}
                                 <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert"
                                       aria-label="close">&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                 </div>
                                 {% endfor %}
                                 {% endif %}
                              </div>
                           </div>
                           
                              <label class="control-label">Category</label>
                              <div class="tg-select form-control">
                                 <select name="category" required>
                                                    <option value="0" selected>Select Category</option>
                                                    {% for category in categories %}
                                                        <option {% if form.category.value == category.id %}
                                                            selected {% endif %}
                                                            value="{{ category.id }}">{{ category.title }}</option>
                                                    {% endfor %}
                                                </select>
                              </div>
                              {% if 'category' in form.errors %}
                              {% for error in form.category.errors %}
                              <div class="alert alert-danger alert-dismissable">
                                 <a href="#" class="close" data-dismiss="alert"
                                    aria-label="close">&times;</a>
                                 <strong>{{ error|escape }}</strong>
                              </div>
                              {% endfor %}
                              {% endif %}
                           </div>
                           
                              <div class="form-group">
                                 <div class="input-icon">
                                    
                                    <label  for="{{ form.Tire_Condition.id_for_Tire_Condition }}">Tire Condition:</label>
                                    <select type="text"  class="form-control" name="Tire_Condition"
                                       placeholder="Tire Condition" value="{{ form.Tire_Condition.value|default:'' }}">
                                       <option id="null">Select Tire Condition</option>
                                       <option value="New">New</option>
                                       <option value="Used">Used</option>
                                    </select>
                                    {% if 'Tire_Condition' in form.errors %}
                                    {% for error in form.Tire_Condition.errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                       <a href="#" class="close" data-dismiss="alert"
                                          aria-label="close">&times;</a>
                                       <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="input-icon">
                                    
                                    <label  for="{{ form.On_Rims.id_for_On_Rims }}">On Rims?</label>
                                    <select type="text"  class="form-control" name="On_Rims"
                                       placeholder="On_Rims" value="{{ form.On_Rims.value|default:'' }}">
                                       <option id="null">Select On Rims</option>
                                       <option value="Yes">Yes</option>
                                       <option value="No">No</option>
                                    </select>
                                    {% if 'On_Rims' in form.errors %}
                                    {% for error in form.On_Rims.errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                       <a href="#" class="close" data-dismiss="alert"
                                          aria-label="close">&times;</a>
                                       <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="input-icon">
                                    
                                    <label  for="{{ form.Year.id_for_Year }}">Year</label>
                                    <select id="sel_year" type="text"  class="form-control" name="Year"
                                       placeholder="Year" value="{{ form.Year.value|default:'' }}">
                                       <option selected>Select Year</option>
                                                <option id="null">Select Year</option>
                                <option value="2020">2020</option>
                                 <option value="2019">2019</option>
                                 <option value="2018">2018</option>
                                 <option value="2017">2017</option>
                                 <option value="2016">2016</option>
                                 <option value="2015">2015</option>
                                 <option value="2014">2014</option>
                                 <option value="2013">2013</option>
                                 <option value="2012">2012</option>
                                 <option value="2011">2011</option>
                                 <option value="2010">2010</option>
                                 <option value="2009">2009</option>
                                 <option value="2008">2008</option>
                                 <option value="2007">2007</option>
                                 <option value="2006">2006</option>
                                 <option value="2005">2005</option>
                                 <option value="2004">2004</option>
                                 <option value="2003">2003</option>
                                 <option value="2002">2002</option>
                                 <option value="2001">2001</option>
                                 <option value="2000">2000</option>
                                 <option value="1999">1999</option>
                                 <option value="1998">1998</option>
                                 <option value="1997">1997</option>
                                 <option value="1996">1996</option>
                                 <option value="1995">1995</option>
                                 <option value="1994">1994</option>
                                 <option value="1993">1993</option>
                                 <option value="1992">1992</option>
                                 <option value="1991">1991</option>
                                 <option value="1990">1990</option>
                                 <option value="1989">1989</option>
                                 <option value="1988">1988</option>
                                 <option value="1987">1987</option>
                                 <option value="1986">1986</option>
                                 <option value="1985">1985</option>
                                 <option value="1984">1984</option>
                                 <option value="1983">1983</option>
                                 <option value="1982">1982</option>
                                 <option value="1981">1981</option>
                                 <option value="1980">1980</option>
                                 <option value="1979">1979</option>
                                 <option value="1978">1978</option>
                                 <option value="1977">1977</option>
                                 <option value="1976">1976</option>
                                 <option value="1975">1975</option>
                                 <option value="1974">1974</option>
                                 <option value="1973">1973</option>
                                 <option value="1972">1972</option>
                                 <option value="1971">1971</option>
                            
                                    </select>
                                    {% if 'Year' in form.errors %}
                                    {% for error in form.Year.errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                       <a href="#" class="close" data-dismiss="alert"
                                          aria-label="close">&times;</a>
                                       <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="input-icon">
                                    
                                    <label  for="{{ form.Make.id_for_Make}}">Make</label>
                                    <select id="sel_make" type="text"  class="form-control" name="Make"
                                       placeholder="Make" value="{{ form.Make.value|default:'' }}">
                                       <option id="null">Select Make</option>
                               <option value="Acura">Acura</option>
                               <option value="Alfa Romeo">Alfa Romeo</option>
                               <option value="Alpine">Alpine</option>
                               <option value="ARO">ARO</option>
                               <option value="Aston Martin">Aston Martin</option>
                               <option value="Audi">Audi</option>
                               <option value="BAIC">BAIC</option>
                               <option value="Baojun">Baojun</option>
                               <option value="Beiqi">Beiqi</option>
                               <option value="Beiqi Huansu">Beiqi Huansu</option>
                               <option value="Beiqi Weiwang">Beiqi Weiwang</option>
                               <option value="Bentley">Bentley</option>
                               <option value="BMW">BMW</option>
                               <option value="BMW Alpina">BMW Alpina</option>
                               <option value="Borgward">Borgward</option>
                               <option value="Bugatti">Bugatti</option>
                               <option value="Buick">Buick</option>
                               <option value="BYD">BYD</option>
                               <option value="Cadillac">Cadillac</option>
                               <option value="Changan">Changan</option>
                               <option value="Changhe">Changhe</option>
                               <option value="Chery">Chery</option>
                               <option value="Chevrolet">Chevrolet</option>
                               <option value="Chrysler">Chrysler</option>
                               <option value="Ciimo">Ciimo</option>
                               <option value="Citroën">Citroën</option>
                               <option value="Cupra">Cupra</option>
                               <option value="Dacia">Dacia</option>
                               <option value="Daewoo">Daewoo</option>
                               <option value="Daihatsu">Daihatsu</option>
                               <option value="Datsun">Datsun</option>
                               <option value="Denza">Denza</option>
                               <option value="Dodge">Dodge</option>
                               <option value="Dongfeng">Dongfeng</option>
                               <option value="DR">DR</option>
                               <option value="DS">DS</option>
                               <option value="Eagle">Eagle</option>
                               <option value="Enovate">Enovate</option>
                               <option value="Enranger">Enranger</option>
                               <option value="Everus">Everus</option>
                               <option value="FAW">FAW</option>
                               <option value="FAW Audi">FAW Audi</option>
                               <option value="FAW Mazda">FAW Mazda</option>
                               <option value="FAW Toyota">FAW Toyota</option>
                               <option value="FAW Volkswagen">FAW Volkswagen</option>
                               <option value="Ferrari">Ferrari</option>
                               <option value="Fiat">Fiat</option>
                               <option value="Fisker">Fisker</option>
                               <option value="Foday">Foday</option>
                               <option value="Force">Force</option>
                               <option value="Ford">Ford</option>
                               <option value="Foton">Foton</option>
                               <option value="GAC">GAC</option>
                               <option value="GAC Fiat">GAC Fiat</option>
                               <option value="GAC Honda">GAC Honda</option>
                               <option value="GAC Toyota">GAC Toyota</option>
                               <option value="GAZ">GAZ</option>
                               <option value="Geely">Geely</option>
                               <option value="Genesis">Genesis</option>
                               <option value="GEO">GEO</option>
                               <option value="GMC">GMC</option>
                               <option value="Great Wall">Great Wall</option>
                               <option value="Haima">Haima</option>
                               <option value="Haval">Haval</option>
                               <option value="Hawtai">Hawtai</option>
                               <option value="Hindustan">Hindustan</option>
                               <option value="Holden">Holden</option>
                               <option value="Honda">Honda</option>
                               <option value="Huanghai">Huanghai</option>
                               <option value="Huasong">Huasong</option>
                               <option value="Hummer">Hummer</option>
                               <option value="Hyundai">Hyundai</option>
                               <option value="Infiniti">Infiniti</option>
                               <option value="Isuzu">Isuzu</option>
                               <option value="Iveco">Iveco</option>
                               <option value="JAC">JAC</option>
                               <option value="Jaguar">Jaguar</option>
                               <option value="Jeep">Jeep</option>
                               <option value="Jetta">Jetta</option>
                               <option value="Jinbei">Jinbei</option>
                               <option value="JMC">JMC</option>
                               <option value="Karry">Karry</option>
                               <option value="Kia">Kia</option>
                               <option value="Kinglong">Kinglong</option>
                               <option value="LADA">LADA</option>
                               <option value="Lamborghini">Lamborghini</option>
                               <option value="Lancia">Lancia</option>
                               <option value="Land Rover">Land Rover</option>
                               <option value="Landwind">Landwind</option>
                               <option value="LDV">LDV</option>
                               <option value="LEVC">LEVC</option>
                               <option value="Lexus">Lexus</option>
                               <option value="Lifan">Lifan</option>
                               <option value="Lincoln">Lincoln</option>
                               <option value="Lotus">Lotus</option>
                               <option value="Luxgen">Luxgen</option>
                               <option value="Lynk&amp;Co">Lynk&amp;Co</option>
                               <option value="Mahindra">Mahindra</option>
                               <option value="Maruti">Maruti</option>
                               <option value="Maserati">Maserati</option>
                               <option value="Maxus">Maxus</option>
                               <option value="Maybach">Maybach</option>
                               <option value="Mazda">Mazda</option>
                               <option value="McLaren">McLaren</option>
                               <option value="Mercedes-Benz">Mercedes-Benz</option>
                               <option value="Mercury">Mercury</option>
                               <option value="MG">MG</option>
                               <option value="MINI">MINI</option>
                               <option value="Mitsubishi">Mitsubishi</option>
                               <option value="Mosler">Mosler</option>
                               <option value="Nio">Nio</option>
                               <option value="Nissan">Nissan</option>
                               <option value="Oldsmobile">Oldsmobile</option>
                               <option value="Opel">Opel</option>
                               <option value="Panoz">Panoz</option>
                               <option value="Perodua">Perodua</option>
                               <option value="Peugeot">Peugeot</option>
                               <option value="Plymouth">Plymouth</option>
                               <option value="Polaris">Polaris</option>
                               <option value="Pontiac">Pontiac</option>
                               <option value="Porsche">Porsche</option>
                               <option value="Proton">Proton</option>
                               <option value="Qiantu">Qiantu</option>
                               <option value="Qiteng">Qiteng</option>
                               <option value="Qoros">Qoros</option>
                               <option value="Ram">Ram</option>
                               <option value="Ravon">Ravon</option>
                               <option value="Red Flag">Red Flag</option>
                               <option value="Rely">Rely</option>
                               <option value="Renault">Renault</option>
                               <option value="Renault Samsung">Renault Samsung</option>
                               <option value="Riich">Riich</option>
                               <option value="Roewe">Roewe</option>
                               <option value="Rolls-Royce">Rolls-Royce</option>
                               <option value="Rover">Rover</option>
                               <option value="Saab">Saab</option>
                               <option value="Saturn">Saturn</option>
                               <option value="Scion">Scion</option>
                               <option value="Seat">Seat</option>
                               <option value="Skoda">Skoda</option>
                               <option value="Smart">Smart</option>
                               <option value="Soueast">Soueast</option>
                               <option value="SsangYong">SsangYong</option>
                               <option value="Subaru">Subaru</option>
                               <option value="Suzuki">Suzuki</option>
                               <option value="TagAZ">TagAZ</option>
                               <option value="Tata">Tata</option>
                               <option value="Tesla">Tesla</option>
                               <option value="Toyota">Toyota</option>
                               <option value="UAZ">UAZ</option>
                               <option value="Vauxhall">Vauxhall</option>
                               <option value="VAZ">VAZ</option>
                               <option value="Venucia">Venucia</option>
                               <option value="Victory">Victory</option>
                               <option value="Volkswagen">Volkswagen</option>
                               <option value="Volvo">Volvo</option>
                               <option value="Vortex">Vortex</option>
                               <option value="Wey">Wey</option>
                               <option value="Wuling">Wuling</option>
                               <option value="XPeng">XPeng</option>
                               <option value="Yema">Yema</option>
                               <option value="ZAZ">ZAZ</option>
                               <option value="Brilliance">Brilliance</option>
                               <option value="Zotye">Zotye</option>
                               <option value="Zotye Jiangnan">Zotye Jiangnan</option>
                               <option value="ZX">ZX</option>
                                    </select>
                                    {% if 'Make' in form.errors %}
                                    {% for error in form.Make.errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                       <a href="#" class="close" data-dismiss="alert"
                                          aria-label="close">&times;</a>
                                       <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="input-icon">
                                    
                                    <label  for="{{ form.Model.id_for_Model }}">Model</label>
                                     <span id = "msg" style = "display:none;color:red;">No models found!</span>
                                    <select id="sel_model" type="text"  class="form-control" name="Model"
                                       placeholder="Model" value="{{ form.Model.value|default:'' }}">
                                       <option selected>Choose...</option>
                                       <option>...</option>
                                    </select>
                                    {% if 'Model' in form.errors %}
                                    {% for error in form.Model.errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                       <a href="#" class="close" data-dismiss="alert"
                                          aria-label="close">&times;</a>
                                       <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                 </div>
                              </div>
                             
                             <div class="form-group">
                           <div class="input-icon">
                           
                           <label  for="{{ form.Width.id_for_Width }}">Width</label>
                           <select type="number"  class="form-control" name="Width"
                              placeholder="Width" value="{{ form.Width.value|default:'' }}">
                           <option id="null">Select Width</option>
                           <option value="10">10</option>
                           <option value="11">11</option>
                           <option value="12">12</option>
                           </select>
                           {% if 'Width' in form.errors %}
                           {% for error in form.Width.errors %}
                           <div class="alert alert-danger alert-dismissable">
                           <a href="#" class="close" data-dismiss="alert"
                              aria-label="close">&times;</a>
                           <strong>{{ error|escape }}</strong>
                           </div>
                           {% endfor %}
                           {% endif %}
                           </div>
                           </div>
                           <div class="form-group">
                              <div class="input-icon">
                                 
                                 <label  for="{{ form.Aspect_Ratio.id_for_Aspect_Ratio }}">Aspect Ratio</label>
                                 <select type="number"  class="form-control" name="Aspect_Ratio"
                                    placeholder="Aspect_Ratio" value="{{ form.Aspect_Ratio.value|default:'' }}">
                                    <option id="null">Select Aspect_Ratio</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                 </select>
                                 {% if 'Aspect_Ratio' in form.errors %}
                                 {% for error in form.Aspect_Ratio.errors %}
                                 <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert"
                                       aria-label="close">&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                 </div>
                                 {% endfor %}
                                 {% endif %}
                              </div>
                           </div>
                           
                           <div class="form-group">
                              <div class="input-icon">
                                 
                                 <label  for="{{ form.Seasonality.id_for_Seasonality }}">Seasonality </label>
                                 <select type="text"  class="form-control" name="Seasonality"
                                    placeholder="Seasonality" value="{{ form.Seasonality.value|default:'' }}">
                                    <option id="null">Select Seasonality</option>
                                    <option value="Summer">Summer</option>
                                    <option value="AllSeason">All Season</option>
                                    <option value="Winter">Winter</option>
                                 </select>
                                 {% if 'Seasonality' in form.errors %}
                                 {% for error in form.Seasonality.errors %}
                                 <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert"
                                       aria-label="close">&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                 </div>
                                 {% endfor %}
                                 {% endif %}
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="input-icon">
                                 
                                 <label  for="{{ form.location.id_for_location }}">Pick up Address</label>
                                 <input  id="search_input"  type="text"  class="form-control" name="location" 
                                    placeholder="location" value="{{ form.location.value|default:'' }}">
                                 {% if 'location' in form.errors %}
                                 {% for error in form.location.errors %}
                                 <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert"
                                       aria-label="close">&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                 </div>
                                 {% endfor %}
                                 {% endif %}
                              </div>
                           </div>
                             
                              <div class="form-group">
                                 <div class="input-icon">
                                    
                                    <label  for="{{ form.Ad_Type.id_for_Ad_Type }}">Ad Type</label>
                                    <select id="purpose" type="text"  class="form-control" name="Ad_Type"
                                       placeholder="Ad_Type" value="{{ form.Ad_Type.value|default:'' }}">
                                       <option id="null">Select Ad_Type</option>
                                       <option value="Rent">Rent</option>
                                       <option value="Rent to Sell">Rent to Sell</option>
                                       <option value="Sell">Sell</option>
                                    </select>
                                    {% if 'Ad_Type' in form.errors %}
                                    {% for error in form.Ad_Type.errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                       <a href="#" class="close" data-dismiss="alert"
                                          aria-label="close">&times;</a>
                                       <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                 </div>
                              </div>
                              
                              <div class="form-group">
                                    <div class="input-icon">
                                       
                                       <label  for="{{ form.tires_available.id_for_tires_available }}">No.of Tires Offered</label>
                                       <input type="number"  class="form-control" name="tires_available"
                                          placeholder="Tires Available" value="{{ form.tires_available.value|default:'' }}">
                                       {% if 'tires_available' in form.errors %}
                                       {% for error in form.tires_available.errors %}
                                       <div class="alert alert-danger alert-dismissable">
                                          <a href="#" class="close" data-dismiss="alert"
                                             aria-label="close">&times;</a>
                                          <strong>{{ error|escape }}</strong>
                                       </div>
                                       {% endfor %}
                                       {% endif %}
                                    </div>
                                 </div>
                                <div style='display:none;' id='business'>  
                                 <div class="form-group">
                                    <div class="input-icon">
                                       
                                       <label  for="{{ form.Tenure_offered.id_for_Tenure_offered }}">Tenure Offered(Monthly)</label>
                                       <input id='chatinput' type="number"  class="form-control" name="Tenure_offered"
                                          placeholder="Tenure offered" value="{{ form.Tenure_offered.value|default:'' }}">
                                       {% if 'Tenure_offered' in form.errors %}
                                       {% for error in form.Tenure_offered.errors %}
                                       <div class="alert alert-danger alert-dismissable">
                                          <a href="#" class="close" data-dismiss="alert"
                                             aria-label="close">&times;</a>
                                          <strong>{{ error|escape }}</strong>
                                       </div>
                                       {% endfor %}
                                       {% endif %}
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="input-icon">
                                    
                                    <label  for="{{ form.offer_price.id_for_offer_price }}">Offer Price</label>
                                    <input id='chatinput2' type="number"  class="form-control" name="offer_price"
                                       placeholder="Offer price" value="{{ form.offer_price.value|default:'' }}">
                                    {% if 'offer_price' in form.errors %}
                                    {% for error in form.offer_price.errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                       <a href="#" class="close" data-dismiss="alert"
                                          aria-label="close">&times;</a>
                                       <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                 </div>
                              </div>
                              <label class="tg-fileuploadlabel" for="tg-photogallery">
                           <span>Drop files anywhere to upload</span>
                           <span>Or</span>
                           <span class="btn btn-common">Select Files</span>
                           <span>Maximum upload file size: 1MB</span>
                           <input id="tg-photogallery"  class="tg-fileinput" multiple
                              type="file"
                              accept="image/*"
                              name="image">
                           </label>
                           
                           
                           
                              <div class="form-group">
                                 <div class="input-icon">
                                    {{ form.description.errors }}
                                    <label  for="{{ form.description.id_for_description }}">Description</label>
                                    <textarea type="text"  class="form-control" name="description"
                                       placeholder="Description" value="{{ form.description.value|default:'' }}"></textarea>
                                    {% if 'description' in form.errors %}
                                    {% for error in form.description.errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                       <a href="#" class="close" data-dismiss="alert"
                                          aria-label="close">&times;</a>
                                       <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                 </div>
                              </div>
                           <button class="btn btn-common" type="submit">Post Ad</button> 
                           </div>
                          
                        </div>
                        
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
var searchInput = 'search_input';
 
$(document).ready(function () {
 var autocomplete;
 autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
  types: ['geocode'],
  componentRestrictions: {
   country:[ "USA", "CA"]
  }
 });
  
 google.maps.event.addListener(autocomplete, 'place_changed', function () {
  var near_place = autocomplete.getPlace();
 });
});
</script>

<script>
   var inputBox = document.getElementById('chatinput2');
   
   inputBox.onkeyup = function(){
       document.getElementById('printchatbox2').innerHTML = inputBox.value;
   }
   
</script>
<script>
   var inputBox2 = document.getElementById('chatinput');
   
   inputBox2.onkeyup = function(){
       document.getElementById('printchatbox').innerHTML = inputBox2.value;
   }
   
</script>
<script>
   $('input[name="offer_price"]').keyup(function() {
       var a = $('input[name="Tenure_offered"]').val();
       var b = $(this).val();
       $('input[name="box3"]').val(a * b);
   });
</script>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'assets/js/tagsinput.js' %}"></script>
<script type="text/javascript">
   $('#summernote').summernote({
       height: 250, // set editor height
       minHeight: null, // set minimum height of editor
       maxHeight: null, // set maximum height of editor
       focus: false // set focus to editable area after initializing summernote
   });
</script>

{% endblock %}
