{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
h1, h2, h3, h4 {
    font-size: 31px;
    color: #f1eded;
    font-weight: 700;
    font-family: roboto,sans-serif;
}

.sidebar-box .navdashboard ul li a span {
    text-align: left;
    font-size: large;
    font-weight: bold;
}

.btn-danger:hover {
    color: #fff;
    background-color: #827f80;
    border-color: #929191;
}
.btn-danger {
    color: #fff;
    background-color: #989495;
    border-color: #807e7f;
}

.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #003e6b;
    border-color: #003e6b;
}



</style>


<div id="content" class="section-padding">
   <div class="container">
         
    <aside>
        <div class="sidebar-box">
            <div class="user">
                <figure>
                    <h3> Choose an Ad Type</h3>
                </figure>
                <div class="usercontent">
                    
                </div>
            </div>
            
        </div>
    </aside>
</div>
<div class= "text-center">
            <div class="row-cols-2">
            <form>
              Tires<input type="radio" href="{% url 'ads:tyresad' %}" id="slide1" name="foo" value="{% url 'ads:tyresad' %}" required>
              Wheels<input type="radio" href="{% url 'ads:wheelsad' %}" id="slide"name="foo" value="option2">
              Services<input type="radio" href="{% url 'ads:crate.ad' %}" name="foo" value="option3">
              <br><br>
              <a href="" onclick='myFunction()' id="myLink">Submit</a>
            </form>
                             <a href="{% url 'ads:tyresad' %}" class="btn btn-squared-default-plain btn-danger" id="size-icon">
                             <i class="fa fa-life-ring fa-5x"></i>
                             <br/>
                             <br/>
                             <strong>Tires</strong>
                             </a>
                             <a href="{% url 'ads:wheelsad' %}" class="btn btn-squared-default-plain btn-danger" id="vehicle-icon">
                             <i class="fa fa-car fa-5x"></i>
                             <br />
                             <br />
                             <strong class="text-white font-weight-bolder">Wheels</strong>
                             </a>
                             <a href="{% url 'ads:crate.ad' %}" class="btn btn-squared-default-plain btn-danger" id="vehicle-icon">
                             <i class="fa fa-car fa-5x"></i>
                             <br />
                             <br />
                             <strong class="text-white font-weight-bolder">Services</strong>
                             </a>
                          </div>
                          </div>

                  
           </div>
          </div>  
              
         </div>
      </div>
   </div>
</div>
</div>

</br>
</br>
<script>
    function myFunction() {
   
        if(document.getElementById('slide1').checked) {
            document.getElementById('myLink').href = "{% url 'ads:tyresad' %}";
        }
    }
</script>
<script>
    function myFunction() {
   
        if(document.getElementById('slide2').checked) {
            document.getElementById('myLink').href = "{% url 'ads:wheelsad' %}";
        }
    }
</script>

{% endblock %}
