{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
body, button, html, input, select, textarea {
    font-family: Galano Grotesque,sans-serif;
}

h1 {
    font-size: 43px;
    color: #333;
    font-weight: 700;
    font-family: roboto, sans-serif;
}
</style>

</br>
<section id="about" class="section-padding">
<div class="text-center">
<h1 style=color:#003e6b;>Our Story</h1>
<a style=color:#3d5769;>
Our story didn't come into life instantly. It has gone through a comprehensive thought process of several years</br> before finally becoming what it is today. For an unknowingly long enough time, the founders of this </br>company have been travelling around the beautiful states of Canada and trying to find a way </br>to make people's lives easier and more convenient. 
</a>
</div>
</div>
</br>
<section id="about" class="section-padding">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-6 col-xs-12">
<div class="about-wrapper">
<h3 class="intro-title"style=color:#003e6b;>The Idea of a classified.</h3>
<a class="intro-desc" style=color:#3d5769;>
The idea of a classified ads platform wasn't ignited until our months of observance had led us to an astonishing realization that many young drivers, students and underprivileged individuals did not bother changing the tires of their vehicle even if they were completely worn out or almost about to come out. One question led to another until we found out that many of these people are not financially powerful and have actually no choice but to stick to their old worn-out tires because they cannot buy new ones.
</a>

</div>
</div>
<div class="col-md-6 col-lg-6 col-xs-12">
<img class="img-fluid" src="/media/idea.jpg" alt="">
</div>
</div>
</div>
</section>

<section id="about" class="section-padding">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-6 col-xs-12">
<div class="about-wrapper">
<img class="img-fluid" src="/media/research.jpg" alt="">


</div>
</div>
<div class="col-md-6 col-lg-6 col-xs-12">
<h3 class="intro-title"style=color:#003e6b;>Comprehensive research on tires Industry.</h3>
<a class="intro-desc" style=color:#3d5769;>
We then decided to carry out a comprehensive research into the tires industry which was another 
shocking discovery that being able to afford all four brand new tires for a car isn't something 
a substantially large population of people can do. The most painful irony, however, is that while 
those in need of urgent replacement of their tires cannot buy new ones due to tight budgets, some 
wealthy citizens are not aware of these underprivileged individuals and they end up either throwing 
away their slightly-used tires or sell them away at a ridiculously low price to exploitative dealers, 
thinking that who would even care to buy a tire anyway.<br>


we came up with the idea of connecting these car owners who had tires in good condition or extra 
wheels available to lease away with those people who couldn't afford new tires and would benefit 
substantially if they could get even these slightly-used tires. 
</div>
</div>
</div>
</section>
<section id="about" class="section-padding">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-6 col-xs-12">
<div class="about-wrapper">
<h3 class="intro-title"style=color:#003e6b;>TOR as Platform.</h3>
<a class="intro-desc" style=color:#3d5769;>
Nowadays, getting things on installment and rent is a popular method to own something you cannot afford. So we thought why not incorporate this idea into an actual company which connects the car owners and tire seekers together? That's when our idea came into life and we started doing some serious work because we knew this would help thousands, if not millions, of people drive more safely with tires that are in a better condition. We understand how you feel. This is precisely why the idea of Tires On Rent (TOR) was born, a Canadian classified ads platform with the primary objective of making tire ownership affordable, convenient and easy for everyone.

</a>

</div>
</div>
<div class="col-md-6 col-lg-6 col-xs-12">
<img class="img-fluid" src="/media/about.png" alt="">
</div>
</div>
</div>
</section>


<section class="testimonial ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="testimonials" class="owl-carousel">
                    
                    <div class="item">
                        <div class="item">
                        <div class="testimonial-item">
                        <div class="content">
						<h3 class=""style="color:#003e6b;font-size: 25px;text-align: center;">Mission Statement</h3>
                        <p class="description">To provide an innovative platform for vehicle owners, businesses and tire seekers to exchange services as an alternative to the conventional buying system.</p>
                        <div class="info-text">
                        
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="item">
                        <div class="item">
                        <div class="testimonial-item">
                        <div class="content">
						<h3 class=""style="color:#003e6b;font-size: 25px;text-align: center;">Vision Statement</h3>
                        <p class="description">To revolutionize the industry by providing affordable and convenient solutions for people to buy and rent vehicular products so that everyone can drive safely. </p>
                        <div class="info-text">
                        
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                                            
                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</section>


{% endblock %}
