{% extends 'base.html' %}

{% block content %}
</br>
</br>
</br>

<div class="page-header" style="background: url(assets/img/banner1.jpg);">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="breadcrumb-wrapper">

<ol class="breadcrumb">
<li><a href="{% url 'core:home' %}">Home /</a></li>
<li class="current">FAQ</li>
</ol>
</div>
</div>
</div>
</div>
</div>


<div class="faq section-padding">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="head-faq text-center">
<h2 class="section-title">Frequently Asked Questions</h2>
</div>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	What is TOR about?
</a>
</h4>
</div>
<div id="collapseOne" class="panel-collapse collapse show">
<div class="panel-body">
<p>Tires On Rent is a classified ads website where owners can post ads about their extra or unwanted tires and tire seekers can rent or rent to own or buy the tires they need. Once the tire seeker finds his/her tires, they can contact the tire owner for next steps.
 All transactions will happen outside of this website.<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
Do you have any physical store where I can visit to check the tires available?
</a>
</h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
<div class="panel-body">
<p>
No, we don't have a physical store. However, you can browse all the available tire ads on our website. 
For your convenience, you can do everything from the comfort of your home.</p>
<br>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
Is there a minimum or maximum period regarding the tenure of my tire rental?
</a>
</h4>
</div>
<div id="collapseThree" class="panel-collapse collapse">
<div class="panel-body">
<p>
This is something you and the tires owner can discuss with complete liberty and agree upon what 
tenure works best for both you and the owner. Our website does not restrict on how long you can 
rent tires for. 
</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
How do I pay the owner if I have selected the tire I want?
</a>
</h4>
</div>
<div id="collapseFour" class="panel-collapse collapse">
<div class="panel-body">
<p>
All payments made for tires to rent, rent to own or buy are done directly to the tire owners by 
the tire seekers on the agreed payment method. You don't need to worry about the hassles of paying online.
</p>
<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
How does Rent to Own option work?
</a>
</h4>
</div>
<div id="collapseFive" class="panel-collapse collapse">
<div class="panel-body">
<p>
Generally speaking, renting tires is an option for a shorter duration like for a season or for 6 months. 
However, under Rent to Own option, tire seeker keeps the tires forever but the tenure could be longer than a season.
 For example, if you rent the tires to own, you can rent them for an year and after one year you don’t have to pay anymore and keep the tires. Price could be little more than what you pay for just renting. Its all between the owner and tire seeker to negotiate the price and tenure
</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
What happens if my newly rented/bought tire goes flat?
</a>
</h4>
</div>
<div id="collapseSix" class="panel-collapse collapse">
<div class="panel-body">
<p>
In such a case, you will need to contact the vehicle owner to discuss if they had any insurance. 
Or you can have them fixed if you had owned the tires. The Tires On Rent company will not be held 
liable if anything happens to the tires you have purchased.
</p>
<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
Do you have any insurance policies which I can purchase?
</a>
</h4>
</div>
<div id="collapseSeven" class="panel-collapse collapse">
<div class="panel-body">
<p>
No, we do not deal in insurance policies, at least for now.
</p>
<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
What if I want a refund?
</a>
</h4>
</div>
<div id="collapseEight" class="panel-collapse collapse">
<div class="panel-body">
<p>
Refunds are possible but only in cases where the reasons are valid. This is because the deal was sealed with an agreement and it is not possible to just back off from the agreement anytime. However, in the case of a legit reason, you are allowed to take back your refund e.g. you paid for a month, used the tires for 3 days, you may be refunded by the tire owner for the remaining days of the month that you paid for. Returns and refunds are at the owners discretion.
</p>
<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
Can I buy rims and wheels on your platform?
</a>
</h4>
</div>
<div id="collapseNine" class="panel-collapse collapse">
<div class="panel-body">
<p>
Yes you can buy them, just search and buy. Contact the owner for the price negotiations and arrange the pickup location and time.
</p>
<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
Can I trade my tires with the tires of the vehicle's owner?
</a>
</h4>
</div>
<div id="collapseTen" class="panel-collapse collapse">
<div class="panel-body">
<p>
Unfortunately, trading is not allowed on our website. We only allow renting, buying and renting-to-own options. 
</p>
<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
I've run out of money and I can no longer afford the rent, what do I do?
</a>
</h4>
</div>
<div id="collapseEleven" class="panel-collapse collapse">
<div class="panel-body">
<p>
Your situation is understandable and such unfortunate events can occur. When such situation arises, you may need to contact the tire owner to redefine terms of your agreement.
</p>
<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
What if I only want the tires for a few days?
</a>
</h4>
</div>
<div id="collapseTwelve" class="panel-collapse collapse">
<div class="panel-body">
<p>
That's definitely possible. There's no minimum or maximum rental tenure on our platform. Such terms can be discussed with your chosen tires' owner and we will finalize it with a rental agreement so the rights of both the parties are secure.
</p>
<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
Can I promote my ad to attract more customers?
</a>
</h4>
</div>
<div id="collapseThirteen" class="panel-collapse collapse">
<div class="panel-body">
<p>
Absolutely! We have very attractive paid promotion for your ads. If you are a business, then you have subscription option to benefit from. Also you can promote your business with our premium and cost effective banner ads.
</p>
<br>

</div>
</div>
</div>

</div>

</div>
</div>
</div>
</div>




{% endblock %}

