{% extends 'base.html' %}
{% block content %}
{% load static %}

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
     .btn-danger:hover {
    color: #fff;
    background-color: #827f80;
    border-color: #929191;
}
.btn-danger {
    color: #fff;
    background-color: #989495;
    border-color: #807e7f;
}
    /*This is for search buttons design*/
    .tab-content{
        background-color: #f8f8f8;
    }
        .btn-squared-default
    {
        width: 100px !important;
        height: 100px !important;
        /*font-size: 10px;*/
    }

        .btn-squared-default:hover
        {
            border: 3px solid white;
            font-weight: 800;
        }

    .btn-squared-default-plain
    {
        width: 180px !important;
        height: 150px !important;
        /*font-size: 10px;*/
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
            box-shadow: 5px 7px 7px 5px rgba(0, 0, 0, 0.19), 10px 12px 20px 10px rgba(0, 0, 0, 0.19);
        }

    /*square box*/
    .displaystyle {
        padding: 15px;
        margin: 15px;
        background-color: #FFFFFF;
        margin-bottom: 10px;
        box-shadow: 5px 7px 7px 5px rgba(0, 0, 0, 0.19), 10px 12px 20px 10px rgba(0, 0, 0, 0.19);
    }

    .displaystyle-danger>strong {
        color: #d73814;
    }
</style>
<style>



hr.style1{
	border-top: 0.5px solid #000;
    width: 75%;
}

.span {
  font-style: inherit;
  font-weight: inherit;
  font-size: 20px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  color:#003e6b;
}


@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   color: #fff;
   background-color:  #003e6b;
   }

.btn-danger {
    color: #fff;
    background-color: #003e6b;
    border-color: #003e6b;
}
.btn {
    font-size: 14px;
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}
.nav-tabs .nav-link {
    color: white;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}


button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 600;
    font-family: inherit;
}
button.big-button {
    padding: -0.5em -1.5em;
    border: 1px solid rgb(14, 13, 13);
    border-radius: 0.5em;
    background: rgb(49, 47, 49);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button::before {
  position: absolute;
  content: '';
  width: 66%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow: 0 0 0 2px , 0 0.75em 0 0 ;
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


button.big-button:hover {
  background: rgb(26, 29, 27);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
            transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);
  
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}


</style>


    <link rel="stylesheet" href="/media/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/media/assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/media/assets/css/styles.css">
    <script src="/media/assets/js/jquery.min.js"></script>
    <script src="/media/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#size-form").hide();
  $("#vehicle-form").hide();
  
  $("#size-icon").click(function(){
    $("#size-form").show();
    $("#size-icon").hide();
    $("#vehicle-icon").hide();
    $("#vehicle-form").hide();
  });
  $("#vehicle-icon").click(function(){
    $("#size-form").hide();
    $("#vehicle-icon").hide();
    $("#size-icon").hide();
    $("#vehicle-form").show();
  });
});

</script>
<script type="text/javascript">
        $(document).ready(function(){

            $("#sel_make").change(function(){
                var year = $("#sel_year option:selected").text();
                var makeid = $(this).val();
                //var makeid = $("#sel_make option:selected").val();
                var api = '4a7488fedfd6685e3ba26c495bf569c9'

                $("#msg").css("display", "none");
                //https://api.wheel-size.com/v1/years/?make=mitsubishi&user_key=4a7488fedfd6685e3ba26c495bf569c9
                // working for makes
                //https://api.wheel-size.com/v1/makes/?user_key=4a7488fedfd6685e3ba26c495bf569c9

                $.ajax({
                    url: 'https://api.wheel-size.com/v1/models/?',
                    type: 'get',
                    data: {make:makeid, year:year, user_key:api},
                    dataType: 'json',
                    success:function(response){

                        var len = response.length;
                        if(len == 0){
                            $("#msg").css("display", "block");
                            $("#sel_model").css("display", "none");
                        }else{
                        $("#sel_model").css("display", "block");
                        }

                        $("#sel_model").empty();
                        for( var i = 0; i<len; i++){
                            //var id = response[i]['id'];
                            var name = response[i]['name'];

                            $("#sel_model").append("<option value='"+name+"'>"+name+"</option>");

                        }
                    }
                });
            });

        });
        $(document).ready(function(){

            $("#sel_year").change(function(){
                //var year = $("#sel_year option:selected").text();
                var year = $(this).val();
                var makeid = $("#sel_make option:selected").val();
                //console.log(makeid)
                if(makeid == "---Select Make---")
                {
                	makeid = 'Acura'
                }
                var api = '4a7488fedfd6685e3ba26c495bf569c9'

                $("#msg").css("display", "none");
                //https://api.wheel-size.com/v1/years/?make=mitsubishi&user_key=4a7488fedfd6685e3ba26c495bf569c9
                // working for makes
                //https://api.wheel-size.com/v1/makes/?user_key=4a7488fedfd6685e3ba26c495bf569c9

                $.ajax({
                    url: 'https://api.wheel-size.com/v1/models/?',
                    type: 'get',
                    data: {make:makeid, year:year, user_key:api},
                    dataType: 'json',
                    success:function(response){

                        var len = response.length;
                        if(len == 0){
                            $("#msg").css("display", "block");
                            $("#sel_model").css("display", "none");
                        }else{
                        $("#sel_model").css("display", "block");
                        }

                        $("#sel_model").empty();
                        for( var i = 0; i<len; i++){
                            //var id = response[i]['id'];
                            var name = response[i]['name'];

                            $("#sel_model").append("<option value='"+name+"'>"+name+"</option>");

                        }
                    }
                });
            });

        });
      </script>
    <section id="carousel">
        <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="jumbotron pulse animated carousel-hero" style="background-image: url(&quot;/media/assets/img/tires.jpg&quot;);background-position: center;background-repeat: no-repeat; background-size: cover;">
                        <h1 class="hero-title" style="font-size: 30px;">BUY TIRES AND WHEELS ONLINE</h1>
                        <p class="hero-subtitle" style="font-size: 23px;"><strong>AT THE BEST PRICE</strong><br></p>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron pulse animated carousel-hero" style="background-image: url(&quot;/media/assets/img/wheels.jpg&quot;);min-height:100%;background-position: center;background-repeat: no-repeat; background-size: cover;">
                        <h1 class="hero-title" style="font-size: 37px;">&nbsp; &nbsp;EXCLUSIVE OFFER&nbsp;</h1>
                        <p class="hero-subtitle" style="font-size: 28px;"><strong>ENJOY UPTO $60 OFF</strong><br></p>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="jumbotron pulse animated carousel-hero" style="background-image: url(&quot;/media/assets/img/services.jpg&quot;);background-position: center;background-repeat: no-repeat; background-size: cover;">
                        <h1 class="hero-title" style="font-size: 36px;">&nbsp; &nbsp;BRAND NEW WHEELS&nbsp;</h1>
                        <p class="hero-subtitle" style="font-size: 28px;"><strong>STARTING AT $55</strong><br></p>
                        <p></a></p>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
            <ol
                class="carousel-indicators" style="opacity: 0;">
                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2" ></li>
                </ol>
        </div>
    </section>
    
    <section id="categories">
   <div class="container" style="background-colour:#6c757d;" id="back">
      <div class="row justify-content-center">
         <div class="col-lg-10 col-md-12 col-xs-12">
            <div class="container py-5">
               <!-- Bordered tabs-->
               <ul id="myTab1" role="tablist" class="nav nav-tabs nav-pills with-arrow flex-column flex-sm-row text-center">
                  <li class="nav-item flex-sm-fill">
                     <a id="home1-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home1" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 border active">Tires</a>
                  </li>
                  <li class="nav-item flex-sm-fill">
                     <a id="profile1-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 border">Wheels</a>
                  </li>
                  <li class="nav-item flex-sm-fill">
                     <a id="contact1-tab" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact1" aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0 border">Services</a>
                  </li>
               </ul>
               <div id="myTab1Content" class="tab-content">
                    <div id="home1" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
                       <div class= "text-center">
                          <!--
                             <div class="row-cols-2">
                             
                                 <img src="/media/bysize1.png" style="height:100px;width:100px;">
                                 <button class="btn btn-primary btn-lg" style="margin-right: 25px" id="size-icon"> Search by Size</button>
                                 <img src="/media/byvehicle.png" style="height:100px;width:100px;">
                                 <button class="big-button" style="margin-right: 16px" id="vehicle-icon"> Search by <br>Vehicle</button>
                                 <img src="/media/bytire.png" style="height:100px;width:150px;">
                             </div>
                             
                             <div class="row col-sm-12 displaystyle displaystyle-danger">
                                  <strong>Style</strong> style danger- no border
                             </div>
                             -->
                          <div class="row-cols-2">
                             <a href="#" class="btn btn-squared-default-plain btn-danger" id="size-icon">
                             <i class="fa fa-life-ring fa-5x"></i>
                             <br/>
                             <br/>
                             <strong>SEARCH BY SIZE</strong>
                             </a>
                             <a href="#" class="btn btn-squared-default-plain btn-danger" id="vehicle-icon">
                             <i class="fa fa-car fa-5x"></i>
                             <br />
                             <br />
                             <strong class="text-white font-weight-bolder">SEARCH BY VEHICLE</strong>
                             </a>
                          </div>
                       </div>
                       <div class = "row" id="form-row">
                          <div class="col-lg-12 text-center">
                             <form action = "{% url "search:searchposts"  %}" name = "" method= "GET" id="size-form">
                                 <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample1"><b>Summer/All Seasons</b></label>
                                 </div>
                                 <!-- Group of default radios - option 2 -->
                                 <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
                                    <label class="custom-control-label" for="defaultGroupExample2"><b>Winter</b></label>
                                 </div>
                                 <!-- Group of default radios - option 3 -->
                                 <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample3"><b>SnowFlake Certified</b></label>
                                 </div>
                                 <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios">
                                    <label class="custom-control-label" for="defaultGroupExample4"><b>Trailer</b></label>
                                 </div>
                                 <br>
                                 <hr class="style1">
                                 <br>

                              <div class="row">
                                  <div class="col-lg-3">
                                    <div class="form-group">
                                       <select id="sel_year" class="form-control" type="number" name="year"
                                                value="{{request.GET.year}}"
                                                autocomplete="off" data-width="auto"
                                                required>
                                               <option id="2021">---Select Year---</option>
                                <option id="2020">2020</option>
                                <option id="2019">2019</option>
                                <option id="2018">2018</option>
                                <option id="2017">2017</option>
                                <option id="2016">2016</option>
                                <option id="2015">2015</option>
                                <option id="2014">2014</option>
                                <option id="2013">2013</option>
                                <option id="2012">2012</option>
                                <option id="2011">2011</option>
                                <option id="2010">2010</option>
                                <option id="2009">2009</option>
                                <option id="2008">2008</option>
                                <option id="2007">2007</option>
                                <option id="2006">2006</option>
                                <option id="2005">2005</option>
                                <option id="2004">2004</option>
                                <option id="2003">2003</option>
                                <option id="2002">2002</option>
                                <option id="2001">2001</option>
                                <option id="2000">2000</option>
                                <option id="1999">1999</option>
                                <option id="1998">1998</option>
                                <option id="1997">1997</option>
                                <option id="1996">1996</option>
                                <option id="1995">1995</option>
                                <option id="1994">1994</option>
                                <option id="1993">1993</option>
                                <option id="1992">1992</option>
                                <option id="1991">1991</option>
                                <option id="1990">1990</option>
                                <option id="1989">1989</option>
                                <option id="1988">1988</option>
                                <option id="1987">1987</option>
                                <option id="1986">1986</option>
                                <option id="1985">1985</option>
                                <option id="1984">1984</option>
                                <option id="1983">1983</option>
                                <option id="1982">1982</option>
                                <option id="1981">1981</option>
                                <option id="1980">1980</option>
                                <option id="1979">1979</option>
                                <option id="1978">1978</option>
                                <option id="1977">1977</option>
                                <option id="1976">1976</option>
                                <option id="1975">1975</option>
                                <option id="1974">1974</option>
                                <option id="1973">1973</option>
                                <option id="1972">1972</option>
                                <option id="1971">1971</option>
                                       </select>
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="form-group">
                                    
                                      <select id="sel_make" class="form-control" type="number" name="make"
                                             value="{{request.GET.make}}"
                                             autocomplete="off"
                                             required>
                                             <option value="Select">---Select Make---</option>
                               <option value="Acura">Acura</option>
                               <option value="Alfa Romeo">Alfa Romeo</option>
                               <option value="Alpine">Alpine</option>
                               <option value="ARO">ARO</option>
                               <option value="Aston Martin">Aston Martin</option>
                               <option value="Audi">Audi</option>
                               <option value="BAIC">BAIC</option>
                               <option value="Baojun">Baojun</option>
                               <option value="Beiqi">Beiqi</option>
                               <option value="Beiqi Huansu">Beiqi Huansu</option>
                               <option value="Beiqi Weiwang">Beiqi Weiwang</option>
                               <option value="Bentley">Bentley</option>
                               <option value="BMW">BMW</option>
                               <option value="BMW Alpina">BMW Alpina</option>
                               <option value="Borgward">Borgward</option>
                               <option value="Bugatti">Bugatti</option>
                               <option value="Buick">Buick</option>
                               <option value="BYD">BYD</option>
                               <option value="Cadillac">Cadillac</option>
                               <option value="Changan">Changan</option>
                               <option value="Changhe">Changhe</option>
                               <option value="Chery">Chery</option>
                               <option value="Chevrolet">Chevrolet</option>
                               <option value="Chrysler">Chrysler</option>
                               <option value="Ciimo">Ciimo</option>
                               <option value="Citroën">Citroën</option>
                               <option value="Cupra">Cupra</option>
                               <option value="Dacia">Dacia</option>
                               <option value="Daewoo">Daewoo</option>
                               <option value="Daihatsu">Daihatsu</option>
                               <option value="Datsun">Datsun</option>
                               <option value="Denza">Denza</option>
                               <option value="Dodge">Dodge</option>
                               <option value="Dongfeng">Dongfeng</option>
                               <option value="DR">DR</option>
                               <option value="DS">DS</option>
                               <option value="Eagle">Eagle</option>
                               <option value="Enovate">Enovate</option>
                               <option value="Enranger">Enranger</option>
                               <option value="Everus">Everus</option>
                               <option value="FAW">FAW</option>
                               <option value="FAW Audi">FAW Audi</option>
                               <option value="FAW Mazda">FAW Mazda</option>
                               <option value="FAW Toyota">FAW Toyota</option>
                               <option value="FAW Volkswagen">FAW Volkswagen</option>
                               <option value="Ferrari">Ferrari</option>
                               <option value="Fiat">Fiat</option>
                               <option value="Fisker">Fisker</option>
                               <option value="Foday">Foday</option>
                               <option value="Force">Force</option>
                               <option value="Ford">Ford</option>
                               <option value="Foton">Foton</option>
                               <option value="GAC">GAC</option>
                               <option value="GAC Fiat">GAC Fiat</option>
                               <option value="GAC Honda">GAC Honda</option>
                               <option value="GAC Toyota">GAC Toyota</option>
                               <option value="GAZ">GAZ</option>
                               <option value="Geely">Geely</option>
                               <option value="Genesis">Genesis</option>
                               <option value="GEO">GEO</option>
                               <option value="GMC">GMC</option>
                               <option value="Great Wall">Great Wall</option>
                               <option value="Haima">Haima</option>
                               <option value="Haval">Haval</option>
                               <option value="Hawtai">Hawtai</option>
                               <option value="Hindustan">Hindustan</option>
                               <option value="Holden">Holden</option>
                               <option value="Honda">Honda</option>
                               <option value="Huanghai">Huanghai</option>
                               <option value="Huasong">Huasong</option>
                               <option value="Hummer">Hummer</option>
                               <option value="Hyundai">Hyundai</option>
                               <option value="Infiniti">Infiniti</option>
                               <option value="Isuzu">Isuzu</option>
                               <option value="Iveco">Iveco</option>
                               <option value="JAC">JAC</option>
                               <option value="Jaguar">Jaguar</option>
                               <option value="Jeep">Jeep</option>
                               <option value="Jetta">Jetta</option>
                               <option value="Jinbei">Jinbei</option>
                               <option value="JMC">JMC</option>
                               <option value="Karry">Karry</option>
                               <option value="Kia">Kia</option>
                               <option value="Kinglong">Kinglong</option>
                               <option value="LADA">LADA</option>
                               <option value="Lamborghini">Lamborghini</option>
                               <option value="Lancia">Lancia</option>
                               <option value="Land Rover">Land Rover</option>
                               <option value="Landwind">Landwind</option>
                               <option value="LDV">LDV</option>
                               <option value="LEVC">LEVC</option>
                               <option value="Lexus">Lexus</option>
                               <option value="Lifan">Lifan</option>
                               <option value="Lincoln">Lincoln</option>
                               <option value="Lotus">Lotus</option>
                               <option value="Luxgen">Luxgen</option>
                               <option value="Lynk&amp;Co">Lynk&amp;Co</option>
                               <option value="Mahindra">Mahindra</option>
                               <option value="Maruti">Maruti</option>
                               <option value="Maserati">Maserati</option>
                               <option value="Maxus">Maxus</option>
                               <option value="Maybach">Maybach</option>
                               <option value="Mazda">Mazda</option>
                               <option value="McLaren">McLaren</option>
                               <option value="Mercedes-Benz">Mercedes-Benz</option>
                               <option value="Mercury">Mercury</option>
                               <option value="MG">MG</option>
                               <option value="MINI">MINI</option>
                               <option value="Mitsubishi">Mitsubishi</option>
                               <option value="Mosler">Mosler</option>
                               <option value="Nio">Nio</option>
                               <option value="Nissan">Nissan</option>
                               <option value="Oldsmobile">Oldsmobile</option>
                               <option value="Opel">Opel</option>
                               <option value="Panoz">Panoz</option>
                               <option value="Perodua">Perodua</option>
                               <option value="Peugeot">Peugeot</option>
                               <option value="Plymouth">Plymouth</option>
                               <option value="Polaris">Polaris</option>
                               <option value="Pontiac">Pontiac</option>
                               <option value="Porsche">Porsche</option>
                               <option value="Proton">Proton</option>
                               <option value="Qiantu">Qiantu</option>
                               <option value="Qiteng">Qiteng</option>
                               <option value="Qoros">Qoros</option>
                               <option value="Ram">Ram</option>
                               <option value="Ravon">Ravon</option>
                               <option value="Red Flag">Red Flag</option>
                               <option value="Rely">Rely</option>
                               <option value="Renault">Renault</option>
                               <option value="Renault Samsung">Renault Samsung</option>
                               <option value="Riich">Riich</option>
                               <option value="Roewe">Roewe</option>
                               <option value="Rolls-Royce">Rolls-Royce</option>
                               <option value="Rover">Rover</option>
                               <option value="Saab">Saab</option>
                               <option value="Saturn">Saturn</option>
                               <option value="Scion">Scion</option>
                               <option value="Seat">Seat</option>
                               <option value="Skoda">Skoda</option>
                               <option value="Smart">Smart</option>
                               <option value="Soueast">Soueast</option>
                               <option value="SsangYong">SsangYong</option>
                               <option value="Subaru">Subaru</option>
                               <option value="Suzuki">Suzuki</option>
                               <option value="TagAZ">TagAZ</option>
                               <option value="Tata">Tata</option>
                               <option value="Tesla">Tesla</option>
                               <option value="Toyota">Toyota</option>
                               <option value="UAZ">UAZ</option>
                               <option value="Vauxhall">Vauxhall</option>
                               <option value="VAZ">VAZ</option>
                               <option value="Venucia">Venucia</option>
                               <option value="Victory">Victory</option>
                               <option value="Volkswagen">Volkswagen</option>
                               <option value="Volvo">Volvo</option>
                               <option value="Vortex">Vortex</option>
                               <option value="Wey">Wey</option>
                               <option value="Wuling">Wuling</option>
                               <option value="XPeng">XPeng</option>
                               <option value="Yema">Yema</option>
                               <option value="ZAZ">ZAZ</option>
                               <option value="Brilliance">Brilliance</option>
                               <option value="Zotye">Zotye</option>
                               <option value="Zotye Jiangnan">Zotye Jiangnan</option>
                               <option value="ZX">ZX</option>
               
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-lg-3">
                                    <div class="form-group">
                                        <span id = "msg" style = "display:none;color:red;">No models found!</span>
                                          <select id="sel_model" class="form-control">
                                             <option selected>Select Model</option>
                                          </select>
                                    </div>
                                  </div>
                                  <div class="col-lg-2">
                                      <input type="submit" name="submit" class="btn btn-common float-left" value="Search" />
                                  </div>

                              </div>

                             </form>
                          </div>
                       </div>
                    </div>
                    <div id="profile1" role="tabpanel" aria-labelledby="profile1-tab" class="tab-pane fade px-4 py-5">
                    </div>
                    <div id="contact1" role="tabpanel" aria-labelledby="contact1-tab" class="tab-pane fade px-4 py-5">
                    </div>
                    </div>
     
            <!-- End bordered tabs -->
         </div>
      </div>
   </div>
   </div>
</section>
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="about-wrapper">
                    <h2 class="intro-title">How does TOR help the owners?</h2>
                    <p class="intro-desc">
                        You might be wondering what's in it for you to give away your precious tires. No, you're not
                        giving them away permanently, rather temporarily and that also in return for some decent cash.<span id="dots">...</span><span id="more">
                        If you've just sold your car or got some extra tires laying around, why not take the advantage
                        and generate some passive income by leasing them away?
                        Not only will you be helping someone in need, you will also be compensated by a rental charge of
                        your own choice. After all, it's better than letting those tires rot away in an isolated garage
                        or giving them away at a ridiculously low price.
                        At Tires On Rent, you can lease away all your unwanted tires, which are in a good condition,
                        obviously, and generate income from several sources. You might as well buy some extra tires just
                        for the sake of renting them away. It's money while you sleep, so why not?</span>
                    </p>
                    <button onclick="showmore()" id="myBtn" class="btn btn-common btn-md">Read more</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
function showmore() {
  var dots1 = document.getElementById("dots");
  var moreText1 = document.getElementById("more");
  var btnText1 = document.getElementById("myBtn");

  if (dots1.style.display === "none") {
    dots1.style.display = "inline";
    btnText1.innerHTML = "Read more";
    moreText1.style.display = "none";
  } else {
    dots1.style.display = "none";
    btnText1.innerHTML = "Read less";
    moreText1.style.display = "inline";
} 
 }
</script>
<style>
    #more {display: none;}
</style>
<section id="about" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="about-wrapper">
                    <h2 class="intro-title">How does TOR help the tenants?</h2>
                    <p class="intro-desc">
                        You cannot prevent a tire from being worn out but you can definitely protect yourself and your
                        family from being exposed to a deadly risk of driving on bad tires. <span id="dots1">...</span><span id="more1">The sole reason why Tires On
                        Rent was found was to make life easier for those people who are on a tight budget and cannot
                        afford to spend hefty amounts on new tires. So, if you fall into this category, you're at the
                        right spot. Whether you need high quality tires on a short-term basis or for a long-term usage,
                        TOR has got you covered with hundreds and thousands of listings from all buyers of all kinds of
                        vehicles.
                        So, rent tires, drive safe and do your wallet a favour!
                    </span></p>
                    <button onclick="myFunction1()" id="myBtn1" class="btn btn-common btn-md">Read more</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
                <img class="img-fluid" src="{% static 'assets/img/about/about.png'%}" alt="">
            </div>
        </div>
    </div>
</section>
<script>
function myFunction1() {
  var dots = document.getElementById("dots1");
  var moreText = document.getElementById("more1");
  var btnText = document.getElementById("myBtn1");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>
<script>
// Wrap every letter in a span
var textWrapper = document.querySelector('.ml6 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml6 .letter',
    translateY: ["1.1em", 0],
    translateZ: 0,
    duration: 750,
    delay: (el, i) => 50 * i
  }).add({
    targets: '.ml6',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
</script>
<style>
    #more1 {display: none;}

/*shadow effect*/
/* The slow way */
.icon-box {
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.icon-box:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

</style>


<section class="works section-padding">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <h3 class="section-title">How does it work?</h3>
            <h5>Convenience is something that we all desire and that is why we have simplified the process of renting tires into mere 5 steps.</h5>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12">
            <div class="works-item">
               <div class="icon-box">
                  <i class="lni-camera"></i>
               </div>
               <p>Post the advertisement</p>
            </div>
         </div>
         <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="works-item">
               <div class="icon-box">
                  <i class="lni-bookmark-alt"></i>
               </div>
               <p>Promote the Ad</p>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12">
            <div class="works-item">
               <div class="icon-box">
                  <i class="lni-thumbs-up"></i>
               </div>
               <p>Accept an offer</p>
            </div>
         </div>
         <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="works-item">
               <div class="icon-box">                  
                  <i class="lni-users"></i>
               </div>
               <p>Sign the rental Agreement</p>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-xs-12">
            <div class="works-item">
               <div class="icon-box">
                  <i class="lni-wallet"></i>
               </div>
               <p>Receive Payments</p>
            </div>
         </div>
         <hr class="works-line">
         <p>
   No extra or hidden taxes or service charges are incurred. You get exactly what you have mentioned
                        in the agreement. For customers, all they need to do is browse the hundreds and thousands of ads
                        on our platform, select one which suits them the best, send an offer to the owner and drive
                        around with their new tires. Isn't it easy? It is!</p>
      </div>
   </div>

   </section> 
    

{% endblock %}
