{% extends 'base.html' %}

{% block content %}
</br>
</br>
</br>

<div class="page-header" style="background: url(assets/img/banner1.jpg);">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="breadcrumb-wrapper">

<ol class="breadcrumb">
<li><a href="{% url 'core:home' %}">Home /</a></li>
<li class="current">Privacy Policy</li>
</ol>
</div>
</div>
</div>
</div>
</div>


<div class="faq section-padding">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="head-faq text-center">
<h2 class="section-title">Privacy policy</h2>
</div>

<div class="panel-group" id="accordion">
<div class="panel panel-default">


<div class="panel-body">
<p>At Tires On Rent Inc, we recognize and appreciate the importance our customers place on privacy and the security of their personal information.  Our goal is to protect your personal information in every way that we can when we interact with you, whether it's on the phone, in our showroom, or on the internet.<br><br> 
We think it is important for you to be informed of the policies, procedures, and security measures we have in place to safeguard your personal and confidential information. With that in mind, we have developed this policy to help you to understand the steps we take to protect your personal information when you utilize our internet services.<br><br>   
We may utilize the services of third-party providers to assist us in providing online services, such as website/app hosting. These third-party providers are referred to within this policy as service providers. 
<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a >
Information Collected on the Internet  
</a>
</h4>
</div>

</div>
<br><br>


</div>

</div>
</div>
</div>
</div>



{% endblock %}

