{% extends 'base.html'%}
{% block title %}
Messages
{% endblock %}
{% block cssfiles %}
{% load static %}
{% endblock %}
{% block content %}
<style>

</style>
<br> <br>
<div id="content" class="section-padding">
   <div class="container">
      <div class="row">
         {% include 'includes/sidebar.html' %}
         <!-- Page Heading -->
         <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
         </div>
         <div class="col-sm-12 col-md-8 col-lg-9">
            <div class="page-content">
               <div class="inner-box">
                  <div class="dashboard-box">
                     <h2 class="dashbord-title">Your Recent Chat</h2>
                  </div>
                  {% if not opponents %}
					<div class="text-center">
				<h4>No messages Yet?</h4>
				 <img class="img-fluid" src="/media/chat.png"  height="250px" width="250px">
				<h5>We’ll keep messages for any item you’re selling in here</h5> 
				</div>
					<p class="text-center">You Have No Messages Yet </p>
				{% endif %}  
                  <div class="dashboard-wrapper">
                     <div class="dashboardboxtitle">
                     </div>
                     <div class="dashboard-wrapper">
                        <form class="row ">
                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                 {% for profile, user in opponents %}
                                 <ul class="offers-user-online">
                                    <li class="offerer">
                                       <figure>
                                       <div class="text-center">
                                          {% if user.profile_image %}
											  <img style="width:30px;height:30px;" src="{{ user.profile_image.url }}" alt="User avatar">
										  {% else %}
											  <img style="width:30px;height:30px;"src="{% static 'assets/img/avatar.png' %}" alt="User avatar">
										  {% endif %}
									   </div>
                                       </figure>
                                       
									<div class="user-name">
									<a href="{{ user.username }}">
									<h4> Chat With {{ user.username }}</h4>
									</a>
									</div>
									</li>

									</li>
									</ul>
									{% endfor %}
									</div>
									</div>
									
                           
                     </div>
                  </div>
                  
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
</div>
{% endblock %}
