{% extends "users/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
<style>
   #app {
   background: #fff;
   border-radius: 4px;
   padding: 20px;
   transition: all 0.2s;
   }
   li {
   margin: 8px 0;
   }
   h2 {
   font-weight: bold;
   margin-bottom: 15px;
   }
   del {
   color: rgba(0, 0, 0, 0.3);
   }
</style>
<style>
   body {
   background: #fff;
   font-size: 14px;
   font-weight: 400;
   font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-font-smoothing: subpixel-antialiased;
   color: #000;
   line-height: 25px;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   overflow-x: hidden;
   }
   h1, h2, h3, h4 {
   font-size: 27px;
   color: #003e6b;
   text-align: center;
   font-weight: 700;
   font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
   }
</style><script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script type="text/javascript">
     
$(document).ready(function(){       
          $("#student_id").hide();
          $("#student_proof").hide();
      	  $("#snr").hide();
  		  $("#snr_age").hide();
          $("#snr_proof").hide();
  		  $("#ers_provider").hide();
  		  $("#other_name").hide();
    $('input[name="is_student"]').click(function(){
        var inputValue = $(this).attr("value"); 
      	if(inputValue == "yes"){
          $("#student_id").show();
          $("#student_proof").show();
          $("#snr").hide();
        }else{
          $("#student_id").hide();
          $("#student_proof").hide();
          $("#snr").show();
        
        }
        
    });
  $('input[name="is_senior"]').click(function(){
        var inputValue = $(this).attr("value"); 
      	if(inputValue == "yes"){
          $("#snr_age").show();
          $("#snr_proof").show();
        }else{
          $("#snr_age").hide();
          $("#snr_proof").hide();
        
        }        
    });
  $('input[name="is_ers"]').click(function(){
        var inputValue = $(this).attr("value"); 
      	if(inputValue == "yes"){
          $("#ers_provider").show();
        }else{
          $("#ers_provider").hide();
        
        }        
    });
  $('input[name="provider"]').click(function(){
        var inputValue = $(this).attr("value"); 
      	if(inputValue == "other"){
          $("#other_name").show();
          $("#other_name").val("");
        }else if(inputValue == "caa"){
          $("#other_name").show();
          $("#other_name").val(inputValue);
        }else if(inputValue == "canadian_tire"){
          $("#other_name").show();
          $("#other_name").val(inputValue);
        }else{
          $("#other_name").val("");
        
        }        
    });
});
</script>
<!-- Begin Page Content -->
<div class="page-header" style="background: url('{% static 'assets/img/banner1.jpg' %}');">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumb-wrapper">
               <ol class="breadcrumb">
                  <li><a href="{% url 'core:home' %}">Home /</a></li>
                  <li class="current">Profile Update</li>
               </ol>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Begin Page Content -->
<div id="content" class="section-padding">
   <div class="container">
      <div class="row">
         {% include 'includes/sidebar.html' %}
         <!-- Page Heading -->
         <div class="col-sm-12 col-md-8 col-lg-9">
            <div class="row page-content">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <form method="post" action="{% url 'accounts:profile-update' %}" enctype="multipart/form-data">
                     <div class="container-fluid">
                        {% csrf_token %}
                        {{user_form | crispy}}
                        {{profile_form | crispy}}
                        {{address_form | crispy}}
                     </div>
					 <button type="submit" class="btn btn-common">Update</button>
					 </form>
					 
               </div>
            </div>
            </br>
		</div>
      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type='text/javascript'></script>
<!-- /.container-fluid -->
{% endblock content %}
